{{_users | json}}

<div class="row" >
  <div class="col-sm-3" *ngFor="let user of users">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{user.firstname}}  </h5>
        <p class="card-text">{{user.lastname}} </p>
        <a href="#" class="btn btn-primary">{{user.phone}} </a>
      </div>
    </div>
  </div>
</div>
