<form #userForm="ngForm"  (ngSubmit)="onSubmit(userForm)" novalidate class="myform">
   {{userForm.value | json}} 
  <div class="form-group ">
    <label for="username">Username:</label>
    <input name="username" type="text" class="form-control" id="username" [(ngModel)]="userModel.username">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input name="password" type="password" class="form-control" id="password" [(ngModel)]="userModel.password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 

{{_token | json}}